<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @video.name %>
</p>

<% if current_user %>
  <p>
    <%= link_to "Play", :controller => :videos, :action => :play, :id => @video.id  %>
  </p>
  <p>
    <strong>Watched?:</strong>
    <%= current_user.watched? @video %>
  </p>
  <p>
    <strong>Count:</strong>
    <%= @count %>
  </p>
<% end %>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
